input[type="radio"],
input[type="checkbox"]
{
    margin:0.1em 0.25em 0 0;
}


.show-on-task-loaded
{
    display:none !important;
}


.question
{
    margin:0 0 1.5em 0;
}
    .question > header
    {
        /*margin:0 0 0.25em 0;*/
        font:400 1.85em Patua One;
        margin:0.1em 0;
    }

.btn
{
    font-family:Montserrat;
    text-transform:uppercase;
    border-radius:2px;
}
.btn-link
{
    padding:0;
}
.answer
{
    margin-top:1em;
}


.help-toggle
{
    margin:0;
    padding:0;
    cursor:help;
}


.illustration-img
{
    border-radius:2px 2px 0 0;
    width:100%;
    height:7em;
    cursor:zoom-in;
}
.illustration-label
{
    border-radius:0 0 2px 2px;
    text-transform:uppercase;
    width:100%;
    cursor:pointer;
}
.illustration-input
{
    margin:0.25em 0 0.75em 0;
}

#content-main
{
    font:400 1em Martel Sans, Open Sans, Lato;
}

#content
{
}
    #content-header
    {
        padding:1em 0;
        /*text-align:center;*/
    }
        #questionnaire-topic
        {
            font:900 2.6em Montserrat, Open Sans !important;

            text-transform:uppercase;
            /*margin:0;*/
            /*background:red;*/
        }






#questionnaire-section
{
}
    #questionnaire-rewind
    {
        margin:1em 0;
    }
    #questionnaire-rewind:disabled
    {
        display:none !important;
    }
#ol-map
{
    position:relative;
    width:100%;
    height:400px;
    border:1px dashed rgba(0, 0, 0, 0.3);
    border-radius:2px;
    margin-bottom:0.5em !important;
}
#ol-map-search
{
    position:relative;
    height:2.5em;
    margin:0 0 0.25em 0;
}
    #ol-map-search-input
    {
        padding-right:5em;
    }
    #ol-map-search-button
    {
        position:absolute;
        right:0;
        bottom:0.4em;
        width:5em;
        height:2em;
        margin:0.5em 0.4em;
        border-radius:0 3px 3px 0;
        background:rgb(52, 73, 94);
        color:#FFF;
        transition:all ease-in-out 0.3s;
        o-transition:all ease-in-out 0.3s;
        ms-transition:all ease-in-out 0.3s;
        moz-transition:all ease-in-out 0.3s;
        webkit-transition:all ease-in-out 0.3s;
    }
        #ol-map-search-button > i.fa
        {
            font-size:1.3em;
        }
#tutorial-message-box
{
    padding:1em;
    color:#FFF;
    background:#C00000;
    word-wrap:break-word;
    border-radius:2px;
}
#tutorial-message-box.expected
{
    background:#005000;
}
    .show-on-expected,
    #tutorial-message-box.expected > .hide-on-expected
    {
        display:none;
    }
    #tutorial-message-box.expected > .show-on-expected
    {
        display:inline;
    }
    #tutorial-failure-message,
    #tutorial-success-message
    {
        margin:0;
        padding:0;
    }
