<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Patua+One|Martel+Sans|Noto+Sans">
{% if css %}<style type="text/css">{{css}}</style>{% endif %}
{% include 'messages.html' %}
<div id="project-task-presenter" class="row {% if is_tutorial %}tutorial{% else %}analysis{% endif %}">
    {% include "questionnaire.html" %}
    {% include "image.html" %}
</div>
{% if js %}<script type="text/javascript">{{js}}</script>{% endif %}
<script>
$(document).ready(function(){
{% if is_tutorial %}
    geotagx.tutorial.start("{{slug}}", {{get_next_question}}, {{tutorial}});
{% else %}
    geotagx.project.start("{{slug}}", {{get_next_question}});
{% endif %}
});
</script>
