<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Patua+One|Martel+Sans|Noto+Sans">
{% if css %}<style type="text/css">{{css}}</style>{% endif %}
{% include 'messages.html' %}
<div id="project-task-presenter" class="row {% if is_tutorial %}tutorial{% else %}analysis{% endif %}">
    <section id="participation-appreciation-section" class="col-xs-12 hide">
        <p>Thank you very much for participating! You have completed all available tasks for this project but it still needs more volunteers, so please spread the word!
    </section>
    {% include "questionnaire.html" %}
    {% include "image.html" %}
</div>
{% if js %}<script type="text/javascript">{{js}}</script>{% endif %}
<script>
$(document).ready(function(){
    geotagx.project.start("{{slug}}", {{get_next_question}}{% if is_tutorial %}, true, {{tutorial}}{% endif %});
});
</script>
