<section id="image-section" class="col-xs-6">
    <div class="row">
		<p id="image-loading"><i class="fa fa-spinner fa-pulse hide-on-task-loaded"></i></p>
		<center>
			<img id="image" class="highlight wheelzoom img-responsive show-on-task-loaded">
			<div id="image-zoomtip" class="show-on-task-loaded">Hover your mouse over the image and use the scroll wheel to zoom in and out.</div>
			<div id="image-source-container" class="show-on-task-loaded"><strong>You can learn more about this photo by visiting its <a id="image-source" rel="nofollow" target="_blank">source</a>.<strong></div>
			<hr>
			{% if why %}<div id="image-analysis-reminder" class="show-on-task-loaded">{{why}}</div>{% endif %}
		</center>
    </div>
</section>
