<section id="image-section" class="col-xs-7">
    <div class="row">
	        <p id="image-loading"><i class="fa fa-spinner fa-pulse hide-on-task-loaded"></i></p>
	        <center><img id="image" class="img-responsive show-on-task-loaded"></center>
	        <div id="image-source-container" class="show-on-task-loaded"><strong>The original photo and its context can be found <a id="image-source" rel="nofollow" target="_blank">here<i class="fa fa-external-link"></i></a><strong></div>
	        <div id="image-zoomtip" class="show-on-task-loaded">Hover your mouse over the image and use the scroll wheel to zoom in and out.<hr></div>
            {# <div id="image-analysis-reminder" class="show-on-task-loaded">By contributing to the Yamuna Flood Waters project, you're helping ...[Remind the user why their contribution is important]</div> #}
    </div>
</section>
