{% import 'helper/questions_helper.html' as questions_helper %}
<section id="questionnaire-section" class="col-xs-6">
	<div id="questionnaire-status-panel">
		<header>
			YOUR CURRENT ANALYSIS IS <span id="current-analysis-progress">0</span>% COMPLETE
			<div id="questionnaire-busy-icon" class="pull-right hide"><i class="fa fa-pulse fa-spinner"></i></div>
		</header>
		<main>
			<div class="show-on-analysis-complete">
				{% if is_tutorial %}
				<p>You have successfully completed one of the project's tutorials however if you feel like you are not quite ready, we highly recommend <a id="take-another-tutorial" class="clickable">taking another</a>.</p>
				<a class="btn btn-success btn-block" href="/project/{{slug}}/newtask"><strong>START CONTRIBUTING</strong></a>
				{% else %}
				<div style="position:relative">
					<button id="submit-analysis" class="btn btn-block btn-success">
						<span class="show-on-busy">SUBMITTING ANALYSIS ...</span>
						<span class="hide-on-busy"><span class="hidden-lg hidden-md">SUBMIT</span><span class="hidden-xs hidden-sm">SUBMIT IT AND LOAD ANOTHER ONE</span></span>
					</button>
				</div>
				<p id="submit-message-success" class="animated fadeIn hide">Your analysis has been submitted successfully!</p>
				<p id="submit-message-failure" class="animated fadeIn hide">Hmmm, there was an error submitting your analysis. Please try again.</p>
				<br>
				<p>Thank you very much for your analysis! We appreciate any feedback you may have for us so get on <a target="_blank" href="https://github.com/geotagx/pybossa/issues">GitHub</a> or <a href="mailto:eleanor.rusack@unitar.org?Subject=GeoTag-X feedback" target="_top">send us an email</a>.</p>
				{% endif %}
			</div>
		</main>
		<footer><div id="questionnaire-progress"><div id="questionnaire-progress-bar"></div></div></footer>
	</div>
	<button id="questionnaire-rewind" class="btn btn-sm btn-default btn-block btn-primary show-on-task-loaded" disabled><i class="fa fa-fw fa-lg fa-arrow-circle-left"></i>&nbsp;Go to previous question</button>
	{% if questions %}
	{% for question in questions -%}
	<div id="questionnaire-question-{{question.id}}" class="question hide" data-type="{{question.type}}" data-id="{{question.id}}">
		<header class="title">{{question.title}}</header>

		{% if question.hint %}
		<p>{{question.hint}}</p>
		{% endif %}

		{% set has_help = True if question.help else False %}
		{% if has_help %}
		{% call questions_helper.help_modal(question.title) %}
		{{question.help}}
		{% endcall %}
		{% endif %}

		{%   if question.type == "binary"                      %}{{questions_helper.binary_answer(question.id, question.answer, has_help)}}
		{% elif question.type == "dropdown-list"               %}{{questions_helper.dropdown_list_answer(question.id, question.answer, has_help)}}
		{% elif question.type == "select"                      %}{{questions_helper.select_answer(question.id, question.answer, has_help)}}
		{% elif question.type == "checklist"                   %}{{questions_helper.checklist_answer(question.id, question.answer, has_help)}}
		{% elif question.type == "illustrative-checklist"      %}{{questions_helper.illustrative_checklist_answer(question.id, question.answer, has_help)}}
		{% elif question.type == "text"                        %}{{questions_helper.text_answer(question.id, question.answer, has_help)}}
		{% elif question.type == "longtext"                    %}{{questions_helper.longtext_answer(question.id, question.answer, has_help)}}
		{% elif question.type == "number"                      %}{{questions_helper.number_answer(question.id, question.answer, has_help)}}
		{% elif question.type == "datetime"                    %}{{questions_helper.datetime_answer(question.id, question.answer, has_help)}}
		{% elif question.type == "date"                        %}{{questions_helper.date_answer(question.id, question.answer, has_help)}}
		{% elif question.type == "url"                         %}{{questions_helper.url_answer(question.id, question.answer, has_help)}}
		{% elif question.type == "geotagging"                  %}{{questions_helper.geotagging_answer(question.id, question.answer, has_help)}}
		{% elif question.type == "custom"                      %}{{questions_helper.custom_answer(question.id, question.answer, has_help)}}
		{% endif %}
	</div>
	{%- endfor %}
	{% endif %}
	{% if is_tutorial -%}
	<div class="col-xs-12">
		<div id="tutorial-message-box" class="row hide">
			<div id="tutorial-failure-message" class="col-xs-12 hide-on-expected"></div>
			<div id="tutorial-success-message" class="col-xs-10 show-on-expected"></div>
			<div class="show-on-expected pull-right"><center><button id="tutorial-next-question" class="btn btn-primary">Next</button></center></div>
		</div>
	</div>
	{%- endif %}
	<div class="show-on-task-loaded">
		<hr>
		<div><button id="questionnaire-show-comments" class="btn btn-block btn-default btn-sm" disabled>Show comments</button></div>
		<div><button id="questionnaire-hide-comments" class="btn btn-block btn-default btn-sm hide"    >Hide comments</button></div>
		<div id="disqus_thread" class="hide"></div>
	</div>
</section>
