{% macro help_modal(title) -%}
<section class="help">
    If you do not know how to answer this question, get some <button class="help-toggle btn-link" rel="nofollow" data-toggle="modal"><strong>help.</strong></button>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header"><h4 class="modal-title"> {{ title }} </h4></header>
                <main class="modal-body">
                    {{caller()}}
                </main>
                <footer class="modal-footer"><button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button></footer>
            </div>
        </div>
    </div>
</section>
{%- endmacro %}


{% macro binary_answer(answer) -%}
<div class="answer" data-saved-as="{{answer.saved_as}}">
	<button class="btn btn-answer btn-success btn-sm" value="Yes">Yes</button>
	<button class="btn btn-answer btn-danger  btn-sm" value="No">No</button>
	<button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help?">I don't know</button>
	<button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
</div>
{%- endmacro %}


{% macro multiple_choice_answer(answer) -%}
<div class="answer" data-saved-as="{{answer.saved_as}}">
	{% for choice in answer.choices -%}
	<input type="checkbox" value="{{choice.value}}">{{choice.label}}<br>
	{%- endfor %}
	<button class="btn btn-answer btn-primary btn-sm" value="Done">Done</button>
	<button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help?">I don't know</button>
	<button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
</div>
{%- endmacro %}


{% macro geotagging_answer(answer) -%}
<div class="answer" data-saved-as="{{answer.saved_as}}">


</div>
{%- endmacro %}



{% macro geotagx_render_question_yes_no(question_id, title, help_html, data_target ) %}
<!-- Question {{id}}. -->
<div id="questionnaire-question-{{question_id}}" class="question hide yes_no">
    <header>{{ title }}</header>
    <section>
        If you do not know how to answer this question, get some <button class="help-toggle btn-link" rel="nofollow" data-toggle="modal"><strong>help.</strong></button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header"><h4 class="modal-title"> {{ title }} </h4></header>
                    <main class="modal-body">
                        {{ help_html }}
                    </main>
                    <footer class="modal-footer"><button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button></footer>
                </div>
            </div>
        </div>
    </section>
    <div class="answer" data-saved-as="{{data_target}}">
        <button class="btn btn-answer btn-success btn-sm" value="Yes">Yes</button>
        <button class="btn btn-answer btn-danger  btn-sm" value="No">No</button>
        <button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help section?">I don't know</button>
        <button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
    </div>
</div>
<!-- End question {{question_id}}. -->
{% endmacro %}

{% macro geotagx_render_question_mcq(question_id, title, help_html, data_target, list_of_options  ) %}
<!-- Question 8. -->
<div id="questionnaire-question-{{question_id}}" class="question hide mcq">
    <header>{{title}}</header>
    <section>
        If you do not know how to answer this question, get some <button class="help-toggle btn-link" data-toggle="modal"><strong>help.</strong></button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header"><h4 class="modal-title">{{title}}</h4></header>
                    <main class="modal-body">
                        {{help_html}}
                    </main>
                    <footer class="modal-footer"><button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button></footer>
                </div>
            </div>
        </div>
    </section>
    <div class="answer" data-saved-as="{{data_target}}">
    	{% for option in list_of_options: %}
	        <input type="checkbox" value="{{option.value}}">{{option.label}}<br>
        {% endfor %}
        <button class="btn btn-answer btn-primary btn-sm" value="Done">Done</button>
        <button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help?">I don't know</button>
        <button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
    </div>
</div>
<!-- End question 8. -->
{% endmacro %}
