<div class="row alerts hide"><!-- Success and error messages. -->
    <div id="alerts-column" class="col-md-6 col-md-offset-2">
        <div id="success"       class="alert alert-success"><strong>Well done!</strong> Your answer has been saved.<a class="close">×</a></div>
        <div id="loading"       class="alert alert-info"><span>Loading next task...</span><a class="close">×</a></div>
        <div id="taskcompleted" class="alert alert-info"><strong>The task has been completed!</strong> Thanks a lot!</div>
        <div id="finish"        class="alert alert-success"><strong>Congratulations!</strong> You have participated in all available tasks!<br>
            <div class="alert-actions">
                <a class="btn small" href="/">Go back</a>
                <a class="btn small" href="/app">or, Check other projects</a>
            </div>
        </div>
        <div id="error" class="alert alert-danger"><strong>Error!</strong> Something went wrong, please contact the site administrators<a class="close">×</a></div>
    </div>
</div>