<div id="questionnaire-summary" class="well minimized">
    <header><strong>Your analysis is <span id="questionnaire-percentage-complete">0</span>% complete</strong><button id="questionnaire-summary-details" class="pull-right btn btn-link hide" data-toggle="collapse" data-target="#questionnaire-answer-card" aria-expanded="false"><span class="hide-on-expanded"><i class="fa fa-fw fa-lg fa-info-circle"></i></span><span class="show-on-expanded"><i class="fa fa-fw fa-lg fa-times"></i></span></button></header>
    <div><ul id="questionnaire-answer-card" class="list-unstyled collapse"></ul></div>
    <div><button id="questionnaire-submit" class="btn btn-answer btn-block btn-success">Submit<span class="hidden-xs hidden-sm"> it and load another one</span></button></div>
    <div id="questionnaire-conclusion">
        <hr>
        Thank you very much for your analysis! We appreciate any feedback you may have for us so get on <a target="_blank" href="https://github.com/geotagx/pybossa/issues"><strong>GitHub</strong></a> or <a href="mailto:eleanor.rusack@unitar.org?Subject=GeoTag-X feedback" target="_top"><strong>send us an email</strong></a>.
    </div>
    <div id="questionnaire-progress-bar"></div>
</div>

<button id="questionnaire-rewind" class="btn btn-sm btn-default btn-block btn-primary show-on-task-loaded" disabled><i class="fa fa-fw fa-lg fa-arrow-circle-left"></i>&nbsp;Go to previous question</button>