<!-- Questions. -->
<!-- Question 1. -->
<div id="questionnaire-question-1" class="question hide">
    <header>Can you see any water in the photo?</header>
    <section>
        If you do not know how to answer this question, get some <button class="help-toggle btn-link" rel="nofollow" data-toggle="modal"><strong>help.</strong></button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header"><h4 class="modal-title">Can you see any water in the photo?</h4></header>
                    <main class="modal-body">
                        <p>In this question we are trying to identify photos in which there is water and would therefore be relevant to the application.</p>
    					<p>If you can see water in this photo select <button class="btn btn-xs btn-success" disabled>Yes</button>. Water includes smaller water bodies such as irrigation channels, open sewers, ponds, puddles of water, or pools of water accumulated in garbage like tyres and bits of plastic, along with large water bodies such as lakes, rivers, and flood waters.</p>
    					<p>In short, if you see a water body, big, small, or even just a puddle, click <button class="btn btn-xs btn-success" disabled>Yes</button></p>
                        <p>Here are some examples for which you would click <button class="btn btn-xs btn-success" disabled>Yes</button></p>
    					<div class="row">
    						<div class="col-sm-4">
    							<a target="_blank" rel="nofollow" href="http://i.dailymail.co.uk/i/pix/2013/06/19/article-2344673-1A686A7B000005DC-545_634x396.jpg"><img src="http://i.dailymail.co.uk/i/pix/2013/06/19/article-2344673-1A686A7B000005DC-545_634x396.jpg" class="img-responsive img-thumbnail"></a>
    							<small><p><i class="fa fa-fw fa-lg fa-photo"></i>Reuters</p></small>
    						</div>
    						<div class="col-sm-4">
    							<a target="_blank" rel="nofollow" href="https://dl.dropboxusercontent.com/u/46576246/India/DSCI0434.JPG"><img src="https://dl.dropboxusercontent.com/u/46576246/India/DSCI0434.JPG" class="img-responsive img-thumbnail"></a>
    							<small><p><i class="fa fa-fw fa-lg fa-photo"></i><a target="_blank" rel="nofollow" href="http://yamuna.womenforsustainablecities.org/">Yamuna's Daughters</a></p></small>
    						</div>
    						<div class="col-sm-4">
    							<a target="_blank" rel="nofollow" href="https://dl.dropboxusercontent.com/u/46576246/India/DSCI0145.JPG"><img src="https://dl.dropboxusercontent.com/u/46576246/India/DSCI0145.JPG" class="img-responsive img-thumbnail"></a>
    							<small><p><i class="fa fa-fw fa-lg fa-photo"></i><a target="_blank" rel="nofollow" href="http://yamuna.womenforsustainablecities.org/">Yamuna's Daughters</a></p></small>
    						</div>
    					</div>
    					<hr>
    					<p>In this photo there is no water body, large or small, and so you should click <button class="btn btn-xs btn-danger" disabled>No</button></p>
    					<div class="row">
    						<div class="col-sm-4">
    							<a target="_blank" rel="nofollow" href="https://dl.dropboxusercontent.com/u/46576246/India/DSCI0074.JPG"><img src="https://dl.dropboxusercontent.com/u/46576246/India/DSCI0074.JPG" class="img-responsive img-thumbnail"></a>
    							<small><p><i class="fa fa-fw fa-lg fa-photo"></i><a target="_blank" rel="nofollow" href="http://yamuna.womenforsustainablecities.org/">Yamuna's Daughters</a></p></small>
    						</div>
    					</div>
                    </main>
                    <footer class="modal-footer"><button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button></footer>
                </div>
            </div>
        </div>
    </section>
    <div class="answer" data-saved-as="water">
        <button class="btn btn-answer btn-success btn-sm" value="Yes">Yes</button>
        <button class="btn btn-answer btn-danger  btn-sm" value="No">No</button>
        <button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help?">I don't know</button>
        <button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
    </div>
</div>
<!-- End question 1. -->
<!-- Question 2. -->
<div id="questionnaire-question-2" class="question hide">
    <header>Can you see small pools of water?</header>
    <p>Small pools of water can include puddles, ponds, irrigation channels, ditches, and water accumulating in garbage.</p>
    <section>
        If you do not know how to answer this question, get some <button class="help-toggle btn-link" rel="nofollow" data-toggle="modal"><strong>help.</strong></button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header"><h4 class="modal-title">Can you see small pools of water?</h4></header>
                    <main class="modal-body">
                        <p>During and after the monsoon season, people living along the Yamuna suffer severely from mosquito-borne diseases such as dengue fever. Mosquitos lay their eggs in stagnant (non-moving) water bodies. Heavy rains and receding flood waters leave behind puddles of stagnant water, which, create perfect breeding grounds for mosquitos. With this question we are trying to find areas that are at a high risk of dengue fever due to the presence of these stagnant water bodies.</p>
                        <p>You should be looking for any water that is not moving or not regularly flushed out. This includes small irrigation channels, puddles, ponds, and water accumulating in open drains (nullahs), ditches or garbage like old tyres, plastics or soft drink cans. </p>
                        <p>Here are some examples for which you should click <button class="btn btn-xs btn-success" disabled>Yes</button></p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a target="_blank" rel="nofollow" href="https://dl.dropboxusercontent.com/u/46576246/India/Aashiya_fields4.jpg"><img src="https://dl.dropboxusercontent.com/u/46576246/India/Aashiya_fields4.jpg" class="img-responsive img-thumbnail"></a>
                                <small><p><i class="fa fa-fw fa-lg fa-photo"></i><a target="_blank" rel="nofollow" href="http://yamuna.womenforsustainablecities.org/">Yamuna's Daughters</a></p></small>
                            </div>
                            <div class="col-sm-4">
                                <a target="_blank" rel="nofollow" href="https://dl.dropboxusercontent.com/u/46576246/India/DSCI0434.JPG"><img src="https://dl.dropboxusercontent.com/u/46576246/India/DSCI0434.JPG" class="img-responsive img-thumbnail"></a>
                                <small><p><i class="fa fa-fw fa-lg fa-photo"></i><a target="_blank" rel="nofollow" href="http://yamuna.womenforsustainablecities.org/">Yamuna's Daughters</a></p></small>
                            </div>
                        </div>
                        <hr>
                        <p>Here are some examples for which you should click <button class="btn btn-xs btn-danger" disabled>No</button></p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a target="_blank" rel="nofollow" href="http://i.dailymail.co.uk/i/pix/2013/06/19/article-2344673-1A686923000005DC-857_634x398.jpg"><img src="http://i.dailymail.co.uk/i/pix/2013/06/19/article-2344673-1A686923000005DC-857_634x398.jpg" class="img-responsive img-thumbnail"></a>
                                <small><p><i class="fa fa-fw fa-lg fa-photo"></i>Parveen Negl</p></small>
                            </div>
                            <div class="col-sm-4">
                                <a target="_blank" rel="nofollow" href="http://i.dailymail.co.uk/i/pix/2013/06/19/article-2344673-1A686A2F000005DC-94_634x409.jpg"><img src="http://i.dailymail.co.uk/i/pix/2013/06/19/article-2344673-1A686A2F000005DC-94_634x409.jpg" class="img-responsive img-thumbnail"></a>
                                <small><p><i class="fa fa-fw fa-lg fa-photo"></i>K. Asif</p></small>
                            </div>
                        </div>
                    </main>
                    <footer class="modal-footer"><button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button></footer>
                </div>
            </div>
        </div>
    </section>
    <div class="answer" data-saved-as="waterSmall">
        <button class="btn btn-answer btn-success btn-sm" value="Yes">Yes</button>
        <button class="btn btn-answer btn-danger  btn-sm" value="No">No</button>
        <button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help?">I don't know</button>
        <button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
    </div>
</div>
<!-- End question 2. -->
<!-- Question 3. -->
<div id="questionnaire-question-3" class="question hide">
    <header>Are these small pools of water near human shelters or a settlement?</header>
    <section>
        If you do not know how to answer this question, get some <button class="help-toggle btn-link" rel="nofollow" data-toggle="modal"><strong>help.</strong></button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header"><h4 class="modal-title">Are these small pools of water near human shelters or a settlement?</h4></header>
                    <main class="modal-body">
                        <p>If you see one or more buildings or tents in the photo, click <button class="btn btn-xs btn-success" disabled>Yes</button><p>
                    </main>
                    <footer class="modal-footer"><button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button></footer>
                </div>
            </div>
        </div>
    </section>
    <div class="answer" data-saved-as="waterSmallShelter">
        <button class="btn btn-answer btn-success btn-sm" value="Yes">Yes</button>
        <button class="btn btn-answer btn-danger  btn-sm" value="No">No</button>
        <button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help?">I don't know</button>
        <button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
    </div>
</div>
<!-- End question 3. -->
<!-- Question 4. -->
<div id="questionnaire-question-4" class="question hide">
    <header>Can you see a large body of water?</header>
    <p>Large water bodies can include rivers, lakes, large ponds, and flood waters.</p>
    <section>
        If you do not know how to answer this question, get some <button class="help-toggle btn-link" rel="nofollow" data-toggle="modal"><strong>help.</strong></button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header"><h4 class="modal-title">Can you see a large body of water?</h4></header>
                    <main class="modal-body">
                        <p>The aim of this analysis is to extract information relevant to monsoonal flooding. To do this we need to know where the flooding is occurring.</p>
                        <p>Click <button class="btn btn-xs btn-success" disabled>Yes</button> if you can see a large water body in the photo, like a river or a lake.</p>
                        <p>You should also select <button class="btn btn-xs btn-success" disabled>Yes</button> if you see flood waters. If you are not sure what flood waters look like, have a look at some of the examples below:</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a target="_blank" rel="nofollow" href="http://i.dailymail.co.uk/i/pix/2013/06/19/article-2344673-1A686923000005DC-857_634x398.jpg"><img src="http://i.dailymail.co.uk/i/pix/2013/06/19/article-2344673-1A686923000005DC-857_634x398.jpg" class="img-responsive img-thumbnail"></a>
                                <small><p><i class="fa fa-fw fa-lg fa-photo"></i>Parveen Negl</p></small>
                            </div>
                            <div class="col-sm-4">
                                <a target="_blank" rel="nofollow" href="http://i.dailymail.co.uk/i/pix/2013/06/19/article-2344673-1A686A2F000005DC-94_634x409.jpg"><img src="http://i.dailymail.co.uk/i/pix/2013/06/19/article-2344673-1A686A2F000005DC-94_634x409.jpg" class="img-responsive img-thumbnail"></a>
                                <small><p><i class="fa fa-fw fa-lg fa-photo"></i>K. Asif</p></small>
                            </div>
                        </div>
                    </main>
                    <footer class="modal-footer"><button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button></footer>
                </div>
            </div>
        </div>
    </section>
    <div class="answer" data-saved-as="waterLarge">
        <button class="btn btn-answer btn-success btn-sm" value="Yes">Yes</button>
        <button class="btn btn-answer btn-danger  btn-sm" value="No">No</button>
        <button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help?">I don't know</button>
        <button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
    </div>
</div>
<!-- End question 4. -->
<!-- Question 5. -->
<div id="questionnaire-question-5" class="question hide">
    <header>Can you see any signs of fast moving water?</header>
    <section>
        If you do not know how to answer this question, get some <button class="help-toggle btn-link" data-toggle="modal"><strong>help.</strong></button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header"><h4 class="modal-title">Can you see any signs of fast moving water?</h4></header>
                    <main class="modal-body">
                        <p>Fast moving flood waters are dangerous. They can wash away people and property and make crossing the river near impossible.</p>
                        <p>Fast moving water can be identified by the following indicators:</p>
                        <ul>
                            <li>White peaks in the water and rough surface &ndash; fast moving water can form waves on the surface, which are indicated by the white peaks and rough, choppy water surface.</li>
                            <li>Water swirling around objects &ndash; As fast moving water hits objects in its path such as buildings, trees, poles, and vehicles, it will rise up around them.</li>
                        </ul>
                        <p>Here are some examples of when you should select <button class="btn btn-xs btn-success" disabled>Yes</button> and <button class="btn btn-xs btn-danger" disabled>No</button></p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a rel="nofollow" target="_blank" href="http://i.dailymail.co.uk/i/pix/2013/06/19/article-2344673-1A686B8C000005DC-570_634x409.jpg"><img src="http://i.dailymail.co.uk/i/pix/2013/06/19/article-2344673-1A686B8C000005DC-570_634x409.jpg" class="img-responsive img-thumbnail"></a>
                                <small><p><i class="fa fa-fw fa-lg fa-photo"></i>Parveen Negl</p></small>
                                <p>In this image the water surface is rough, and swirling around objects in its path, you should select both rough water and water rising up around objects</p>
                            </div>
                            <div class="col-sm-4">
                                <a rel="nofollow" target="_blank" href="http://i.dailymail.co.uk/i/pix/2013/06/23/article-2346961-1A789CF3000005DC-998_964x641.jpg"><img src="http://i.dailymail.co.uk/i/pix/2013/06/23/article-2346961-1A789CF3000005DC-998_964x641.jpg" class="img-responsive img-thumbnail"></a>
                                <small><p><i class="fa fa-fw fa-lg fa-photo"></i>Daily Mail</p></small>
                                <p>In this picture, the rough surface is most likely caused by all of the people wading in the water. You should not select either of the options for this photo</p>
                            </div>
                        </div>
                    </main>
                    <footer class="modal-footer"><button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button></footer>
                </div>
            </div>
        </div>
    </section>
    <div class="answer" data-saved-as="waterLargeFast">
        <input type="checkbox" value="Peaks">White peaks in the water<br>
        <input type="checkbox" value="Rough">Rough water surface<br>
        <input type="checkbox" value="Swirling">Water swirling around objects in the water<br>
        <button class="btn btn-answer btn-primary btn-sm" value="Done">Done</button>
        <button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help?">I don't know</button>
        <button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
    </div>
</div>
<!-- End question 5. -->
<!-- Question 6. -->
<div id="questionnaire-question-6" class="question hide">
    <header>Can you see any of the following flood protection measures?</header>
    <section>
        If you do not know how to answer this question, get some <button class="help-toggle btn-link" data-toggle="modal"><strong>help.</strong></button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header"><h4 class="modal-title">Can you see any of the following flood protection measures?</h4></header>
                    <main class="modal-body">
                        <p>In this question you are looking for signs that protective measures have been put up against the floods. This can include temporary measures like sandbags (<a target="_blank" rel="nofollow" href="http://en.wikipedia.org/wiki/Sandbags">what are sandbags?</a>), or makeshift barriers, and permanent measures like embankments. An embankment is a man-made hill running along the river bank that raises the level of the river bank and so stops water from flooding surrounding areas when it rises. An embankment could be made from a variety of materials including concrete and soil (<a target="_blank" rel="nofollow" href="http://en.wikipedia.org/wiki/Levee">what is an embankment?</a>). See the photos below for examples of different flood protection measures.</p>
                        <p>Here are some examples of different types of flood protection measures.</p>
                        <div>
                            <p>Embankment</p>
                            <a target="_blank" rel="nofollow" href="http://i.dailymail.co.uk/i/pix/2013/06/23/article-2346961-1A789CE6000005DC-706_964x641.jpg"><img src="http://i.dailymail.co.uk/i/pix/2013/06/23/article-2346961-1A789CE6000005DC-706_964x641.jpg" class="img-responsive img-thumbnail"></a>
                            <small><p><i class="fa fa-fw fa-lg fa-photo"></i><a target="_blank" rel="nofollow" href="http://www.dailymail.co.uk/indiahome/article-2346961/Why-floods-missed-Delhi-How-embankments-Yamuna-protected-Capital-river-swelled-bursting-point.html">Mail Online India</a></p></small>
                        </div>
                        <div>
                            <p>Sandbags</p>
                            <a target="_blank" rel="nofollow" href="http://www.nmdirtbags.com/images/sandbags_door3.jpg"><img src="http://www.nmdirtbags.com/images/sandbags_door3.jpg" class="img-responsive img-thumbnail"></a>
                            <small><p><i class="fa fa-fw fa-lg fa-photo"></i><a target="_blank" rel="nofollow" href="http://www.nmdirtbags.com/flood.html">New Mexico Dirtbags</a></p></small>
                        </div>
                    </main>
                    <footer class="modal-footer"><button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button></footer>
                </div>
            </div>
        </div>
    </section>
    <div class="answer" data-saved-as="waterLargeProtection">
        <input type="checkbox" value="Sandbags">Sandbags<br>
        <input type="checkbox" value="Barriers">Makeshift barriers<br>
        <input type="checkbox" value="Embankments">Embankments<br>
        <input type="checkbox" value="Other">Other<br>
        <button class="btn btn-answer btn-primary btn-sm" value="Done">Done</button>
        <button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help?">I don't know</button>
        <button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
    </div>
</div>
<!-- End question 6. -->
<!-- Question 7. -->
<div id="questionnaire-question-7" class="question hide">
    <header>Can you see any sources of drinking water?</header>
    <section>
        If you do not know how to answer this question, get some <button class="help-toggle btn-link" data-toggle="modal"><strong>help.</strong></button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header"><h4 class="modal-title">Can you see any sources of drinking water?</h4></header>
                    <main class="modal-body">
                        <p>In a disaster situation it is important to get an understanding of the population's access to clean drinking water. Here we are looking for access to any equipment or source of clean water, including water pipes and access taps, and water tankers.</p>
                        <p>Water pumps are not included here because they can be contaminated by polluted river water.</p>
                        <p>In these photos you can see some examples of the different items you should be looking for:</p>
                        <div>
                            <p>Water tankers</p>
                            <a target="_blank" rel="nofollow" href="https://dl.dropboxusercontent.com/u/46576246/India/DSCI0145.JPG"><img src="https://dl.dropboxusercontent.com/u/46576246/India/DSCI0145.JPG" class="img-responsive img-thumbnail"></a>
                            <small><p><i class="fa fa-fw fa-lg fa-photo"></i><a target="_blank" rel="nofollow" href="http://yamuna.womenforsustainablecities.org/">Yamuna's Daughters</a></p></small>
                        </div>
                        <div>
                            <p>Water pipes and access taps</p>
                            <a target="_blank" rel="nofollow" href="https://dl.dropboxusercontent.com/u/46576246/India/socialmedicon.jpg"><img src="https://dl.dropboxusercontent.com/u/46576246/India/socialmedicon.jpg" class="img-responsive img-thumbnail"></a>
                            <small><p><i class="fa fa-fw fa-lg fa-photo"></i><a target="_blank" rel="nofollow" href="http://yamuna.womenforsustainablecities.org/">Yamuna's Daughters</a></p></small>
                        </div>
                    </main>
                    <footer class="modal-footer"><button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button></footer>
                </div>
            </div>
        </div>
    </section>
    <div id="questionnaire-answer-6" class="answer" data-saved-as="waterDrinking">
        <button class="btn btn-answer btn-success btn-sm" value="Yes">Yes</button>
        <button class="btn btn-answer btn-danger  btn-sm" value="No">No</button>
        <button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help?">I don't know</button>
        <button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
    </div>
</div>
<!-- End question 7. -->
<!-- Question 8. -->
<div id="questionnaire-question-8" class="question hide">
    <header>Which sources of drinking water can you see?</header>
    <section>
        If you do not know how to answer this question, get some <button class="help-toggle btn-link" data-toggle="modal"><strong>help.</strong></button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header"><h4 class="modal-title">Which sources of drinking water can you see?</h4></header>
                    <main class="modal-body">
                        <p>In a disaster situation it is important to get an understanding of the population's access to clean drinking water. Here we are looking for access to any equipment or source of clean water, including water pipes and access taps, and water tankers.</p>
                        <p>Water pumps are not included here because they can be contaminated by polluted river water.</p>
                        <p>In these photos you can see some examples of the different items you should be looking for:</p>
                        <div>
                            <p>Water tankers</p>
                            <a target="_blank" rel="nofollow" href="https://dl.dropboxusercontent.com/u/46576246/India/DSCI0145.JPG"><img src="https://dl.dropboxusercontent.com/u/46576246/India/DSCI0145.JPG" class="img-responsive img-thumbnail"></a>
                            <small><p><i class="fa fa-fw fa-lg fa-photo"></i><a target="_blank" rel="nofollow" href="http://yamuna.womenforsustainablecities.org/">Yamuna's Daughters</a></p></small>
                        </div>
                        <div>
                            <p>Water pipes and access taps</p>
                            <a target="_blank" rel="nofollow" href="https://dl.dropboxusercontent.com/u/46576246/India/socialmedicon.jpg"><img src="https://dl.dropboxusercontent.com/u/46576246/India/socialmedicon.jpg" class="img-responsive img-thumbnail"></a>
                            <small><p><i class="fa fa-fw fa-lg fa-photo"></i><a target="_blank" rel="nofollow" href="http://yamuna.womenforsustainablecities.org/">Yamuna's Daughters</a></p></small>
                        </div>
                    </main>
                    <footer class="modal-footer"><button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button></footer>
                </div>
            </div>
        </div>
    </section>
    <div class="answer" data-saved-as="waterDrinkingSources">
        <input type="checkbox" value="Pipes">Water pipes and access taps<br>
        <input type="checkbox" value="Tankers">Water tankers<br>
        <button class="btn btn-answer btn-primary btn-sm" value="Done">Done</button>
        <button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help?">I don't know</button>
        <button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
    </div>
</div>
<!-- End question 8. -->
<!-- Question 9. -->
<div id="questionnaire-question-9" class="question hide">
    <header>Have they been affected by the flood waters?</header>
    <p>Look for signs that the water source has been damaged or in some way affected by the flood waters.</p>
    <p>For instance, are they no longer accessible because of the flood waters or associated debris? Have they been damaged in some way?</p>
    <section>
        If you do not know how to answer this question, get some <button class="help-toggle btn-link" data-toggle="modal"><strong>help.</strong></button>
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header"><h4 class="modal-title">Have they been affected by the flood waters?</h4></header>
                    <main class="modal-body">
                        <!-- TODO: WRITE HELP -->
                    </main>
                    <footer class="modal-footer"><button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button></footer>
                </div>
            </div>
        </div>
    </section>
    <div class="answer" data-saved-as="waterDrinkingSourcesAffected">
        <button class="btn btn-answer btn-success btn-sm" value="Yes">Yes</button>
        <button class="btn btn-answer btn-danger  btn-sm" value="No">No</button>
        <button class="btn btn-answer btn-warning btn-sm" value="Unknown" data-toggle="tooltip" data-placement="bottom" data-original-title="Did you read the help?">I don't know</button>
        <button class="btn btn-answer btn-default btn-sm" value="NotClear">It's not clear</button>
    </div>
</div>
<!-- End question 9. -->
<!-- End questions. -->
