{%  import 'helper/questions_helper.html' as questions_helper %}
<!-- Questions. -->

{{ questions_helper.geotagx_render_question_yes_no("1", "Can you see A?", help_html, "data_target_1") }}
{{ questions_helper.geotagx_render_question_yes_no("2", "Can you see B?", help_html, "data_target_2") }}
{{ questions_helper.geotagx_render_question_yes_no("3", "Can you see C?", help_html, "data_target_3") }}
{{ questions_helper.geotagx_render_question_mcq("4", "Can you see D?", help_html, "data_target_4", [{'value':'optionA', 'label': 'Option A'}, {'value':'optionB', 'label': 'Option B'}, {'value':'optionC', 'label': 'Option C'}]) }}
{{ questions_helper.geotagx_render_question_mcq("5", "Can you see E?", help_html, "data_target_5", [{'value':'optionA', 'label': 'Option A'}, {'value':'optionB', 'label': 'Option B'}, {'value':'optionC', 'label': 'Option C'}]) }}
{{ questions_helper.geotagx_render_question_mcq("6", "Can you see F?", help_html, "data_target_6", [{'value':'optionA', 'label': 'Option A'}, {'value':'optionB', 'label': 'Option B'}, {'value':'optionC', 'label': 'Option C'}]) }}

<!-- End questions. -->
