{%  import 'helper/questions_helper.html' as questions_helper %}
<!-- Questions. -->

{{ questions_helper.geotagx_render_question_yes_no("1", "Can you see A?", help_html, "data_target_1") }}
{{ questions_helper.geotagx_render_question_yes_no("2", "Can you see B?", help_html, "data_target_2") }}
{{ questions_helper.geotagx_render_question_yes_no("3", "Can you see C?", help_html, "data_target_3") }}
{{ questions_helper.geotagx_render_question_yes_no("4", "Can you see D?", help_html, "data_target_4") }}
{{ questions_helper.geotagx_render_question_yes_no("5", "Can you see E?", help_html, "data_target_5") }}
{{ questions_helper.geotagx_render_question_yes_no("6", "Can you see F?", help_html, "data_target_6") }}
{{ questions_helper.geotagx_render_question_yes_no("7", "Can you see G?", help_html, "data_target_7") }}
{{ questions_helper.geotagx_render_question_yes_no("8", "Can you see H?", help_html, "data_target_8") }}
{{ questions_helper.geotagx_render_question_yes_no("9", "Can you see I?", help_html, "data_target_9") }}

<!-- End questions. -->
