<div id="questionnaire-filter" class="question hide">
    <header>Is this photo spam?</header>
    <p>Sometimes, people collecting photos might accidentally send something that is not useful like an advertisement. If this photo is an advertisement or similar, you should choose <button class="btn btn-danger btn-xs" disabled>Yes</button> and it will be skipped.</p>
    <p>If you are not sure whether the photo is spam, selecting <button class="btn btn-xs btn-warning" disabled>I don't know</button> will also skip the image.</p>
    <p>If you do not see an image, notify us by selecting <button class="btn btn-xs btn-default" disabled>No Photo</button> and we'll fix it as soon as possible.</p>
    <p>Selecting <button class="btn btn-success btn-xs" disabled>No</button> will allow you to proceed with the analysis.</p>
    <div class="answer">
        <button class="btn btn-answer btn-success btn-sm" value="No">No</button>
        <button class="btn btn-answer btn-danger  btn-sm" value="Yes">Yes</button>
        <button class="btn btn-answer btn-warning btn-sm" value="Unknown">I don't know</button>
        <button class="btn btn-answer btn-default btn-sm" value="NoPhoto">No photo</button>
    </div>
</div>