<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
{% include 'messages.html' %}

<div class="row skeleton"><!-- Skeleton row. -->
    <section id="questionnaire-section" class="col-xs-5">
    	{% include 'question_controls.html' %}


        {% include 'spam_filter.html' %}

        {% include 'render_questions.html' %}
        {% include 'disqus_comments.html' %}

    </section>
    {% include 'image_section.html' %}
</div>

{% include 'render_static_files.html' %}
<script type="text/javascript">
{% include 'geotagx_app_logic.js' %}
</script>

